.cards__card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px;
    padding: 1rem;
    margin: 2rem;
    width: 70vw;
    transition: all 0.3s ease-out;

    background: var(--branco);
}

.cards__card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}


.cards__card__borda {
    border-right: 5px solid var(--verde-escuro);
}


@media screen and (min-width:1024px) {
    .cards__card {
        height: 100px;
        width: 220px;
    }
}